# Python
__pycache__
*.pyc
*.pyo
.venv
venv
.pytest_cache
.mypy_cache

# Node
node_modules
frontend/node_modules

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Environment
.env
.env.local

# Docker
docker-compose.yml
